<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!-- fonts -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Zebra icon -->
	<link rel="icon" href="https://www.nationalgeographic.com/content/dam/animals/thumbs/rights-exempt/mammals/p/plains-zebra_thumb.JPG"
	 sizes="32x32">
	<!-- Materialize: compiled css -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
	<!-- Google Jquery CDN -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- ajax animation CDN?? -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.js"></script>
	<!-- stylesheet.css -->
	<link rel="stylesheet" href="/style/css/stylesheet.css" type="text/css" />
	<title>Project 2!</title>
</head>

<body>
	{{!--
	<video autoplay loop muted poster id='background'>
		<source src="/assets/css/background.mp4" type='video/mp4'>
	</video> --}}
	<div class="container center">
		{{{ body }}}
	</div>

<!-- Materialize: compiled js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

</body>

</html>