<div class="background gamebg"></div>
<h3>BOSS: Fire Dragon</h3>
  {{#each characters}}
  <h4>{{name}}</h4>
  <p class="stats">Attack: <span>{{attack}}</span></p>
  <p class="stats">Defense: <span>{{defense}}</span></p>
  <p class="stats">Health: <span>{{health}}</span></p>
  {{/each}}
  <h5>Slay the dragon to collect your reward!</h5>

<!--===BUTTONS IN GAME========================================================================================================================================-->
<button class='btn waves-effect waves-light grey darken-3 white-text' id="startBtn">Start</button>
<!-- <div id="startGame" onclick="startGame()"></div> -->

<h4 id="playerHealthBar"></h4>
<h5 id="playerArmor"></h5>
<h4 id="bossHealthBar"></h4>

<h5 id="potionCountNum"></h5>


<button class='btn waves-effect waves-light grey darken-3 white-text' id="attackBtn">Attack!</button>

<button class='btn waves-effect waves-light grey darken-3 white-text' id="potionBtn">Health Potion</button>
<br>


<h5 id="combatText"></h5>

<div class='animate'>
  <img src="/style/images/axe.png" class="sword">
</div>

<!-- link to game.js file -->
<script type="text/javascript" src="/js/game.js"></script>
{{!-- Animations --}}
<script type="text/javascript" src="/style/js/anime.js"></script>
{{!-- For shake animations --}}
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
