<h2>Hero Stats!</h2>

<table class="striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Health</th>
            <th>Attack</th>
            <th>Defence</th>
        </tr>
    </thead>

    <tbody>
        <tr>
        {{#each hero}}
            <th>{{name}}</th>
            <th>{{health}}</th>
            <th>{{attack}}</th>
            <th>{{attack}}</th>
        {{/each}}
        <tr>
                <tr>
                    <td>Alvin</td>
                    <td>Eclair</td>
                    <td>$0.87</td>
                    <td>1000</td>
                </tr>
                <tr>
                    <td>Alan</td>
                    <td>Jellybean</td>
                    <td>$3.76</td>
                    <td>1000</td>
                </tr>
                <tr>
                    <td>Jonathan</td>
                    <td>Lollipop</td>
                    <td>$7.00</td>
                    <td>1000</td>
                </tr>
                <tr>
                    <td>Jonathan</td>
                    <td>Lollipop</td>
                    <td>$7.00</td>
                    <td>1000</td>
                </tr>
                <tr>
                    <td>Jonathan</td>
                    <td>Lollipop</td>
                    <td>$7.00</td>
                    <td>1000</td>
                </tr>
    </tbody>
</table>

<!-- Custom Script -->
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script src="https://code.jquery.com/jquery.js"></script> {{!--
<script src="/assets/js/app.js" type="text/javascript"></script> --}}